body {
    font-family: Arial, sans-serif;
    background-color: #A4B0B8;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gallery-home-btn {
  font-family: "Wittgenstein", serif;
  position: fixed;
  top: 2vw;
  left: 1vw;
  font-size: 1.5vw;
  padding: 10px 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
  font-style: italic;
  z-index: 10;
  transition: ease;
}

.gallery-home-btn:hover {
  color:rgba(122, 142, 188, 0.7);
  transition: ease 0.3s;
}

.gallery-container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #2b2b35;
    font-family: "Wittgenstein", serif;
    letter-spacing: 5px;
    font-size: 4vw;
}

h2 {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  color: #2b2b35;
  font-family: "Wittgenstein", serif;
  letter-spacing: 2px;
  font-style: italic;
  position: relative;
}

h2::before,
h2::after {
    content: ""; 
    flex-grow: 1; 
    height: 1px; 
    background-color: #2b2b35; 
}

h2::before {
    margin-right: 10px; 
}

h2::after {
    margin-left: 10px;
}

#headshots {
  margin-top: 5vw;
}

#performance-photos {
  margin-top: 5vw;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 15px;
    margin-top: 20px;
}

.photo-grid img {
    width: 100%;
    object-fit: cover;
    height: 150px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.photo-grid img:hover {
    transform: scale(1.05);
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

.modal.hidden {
    display: none;
}

.modal img {
    max-width: 90%;
    max-height: 90%;
}

#close-modal {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.caption {
    color: white;
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    padding: 0 20px;
    max-width: 90%;
    word-wrap: break-word;
}

@media (max-width: 768px) {

    .gallery-home-btn {
        font-size: 3vw;
    }
}
