body {
  background-color: #A4B0B8;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* scroll animation */

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 1s ease-out;
}

.fade-in-visible {
    opacity: 1;
    transform: translateY(0);
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fade-in-left {
    opacity: 0; 
    animation: fadeInLeft 1s ease forwards; 
}



/* Navbar */

#sideNav{
  position: fixed;
  z-index: 1000; 
  background-color: #647870;
}

.menu-button {
  position: fixed;
  z-index: 1000; 
  top: 20px;
  left: 10px;
  font-size: 20px;
  padding: 10px 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
  font-family: "Wittgenstein", serif;
  font-style: italic;
  font-weight: light;
  letter-spacing: 2px;
  transition: 0.3s;
}

.menu-button:hover {
  color:rgba(122, 142, 188, 0.7);
  transition: ease 0.3s;
}


.sidenav {
  display: flex;
  flex-direction: column;
  align-items: center; 
  height: 100%; 
  width: 0; 
  position: fixed; 
  top: 0;
  left: 0;
  background-color: #111; 
  overflow-x: hidden; 
  transition: 0.5s; 
  padding-top: 60px;
}

.sidenav h1 {
  color: white;
}


.sidenav a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 22px;
  color: white;
  display: block;
  transition: 0.3s;
}


.sidenav a:hover {
  color: #f1f1f1;
}


.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 36px;
  margin-left: 50px;
}

.nav-link {
  text-decoration: none; 
  color: inherit; 
  transition: transform 0.3s ease;
  font-family: "Wittgenstein", serif;
  letter-spacing: 2px;
}

.nav-link:hover {
  text-decoration: underline;
  transform: scale(1.05); 
}

.nav-link.active {
  text-decoration: underline;
  font-weight: bold; 
}

#nav-logo {
  height: 100px;
  width: 200px;
  margin-top: 20px;
}

.menu-title {
  position: relative;
  text-align: center;
  font-size: 36px;
  font-family: 'Times New Roman', serif; 
  color: white;
  margin-bottom: 30px;
  font-family: "Wittgenstein", serif;
  letter-spacing: 5px;
}

.menu-title::before,
.menu-title::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 40px; 
  height: 1px;
  background-color: white;
}

.menu-title::before {
  left: -50px; 
}

.menu-title::after {
  right: -50px; 
}


/* Media query for smaller screens */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Home */

#home {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url('./assets/Abigail\ Raiford\ -\ 21\ copy.webp');
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

#quote-container {
  display: flex;
  align-items: center;
  width: 40%;
  z-index: 0;
  padding-right: 3vw;
}

#quote-box {
  text-align: center;
}

.quote-body {
  font-family: "Bodoni Moda", serif;
  color: #D8DAE1;
  z-index: 1;
  font-size: 2vw;
}

.quote-source {
  font-family: "Bodoni Moda", serif;
  color: white;
  z-index: 1;
  font-size: 1.5vw;
}

#website-title {
  position: absolute; 
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(69, 89, 135, 0.7);
  padding: 1vw 0; /* Adjust padding as needed */
  z-index: 10; /* Ensure it stays above other elements */
  margin: 0;
  overflow: hidden;
}

#website-title h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Baskerville";
  color: #D8DAE1;
  text-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
  font-size: 7vw;
  font-weight: 100;
  line-height: 0;
  letter-spacing: 0.5vw;
}

#website-title h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Wittgenstein", serif;
  font-size: 2vw;
  color: #D8DAE1;
  letter-spacing: 1vw;
  text-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
  margin: 0;
}

@media (max-width: 768px) {

  body, html {
    margin: 0; /* Remove global margins */
    padding: 0; /* Remove global padding */
    overflow-x: hidden; /* Prevent horizontal scrollbars */
  }

  #home {
    background-image: url('/assets/Abigail\ Raiford\ -\ 21\ copy\ 2.webp');
    background-size: cover;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
  }

  #quote-container {
  position: absolute;
  bottom: 15%;
  width: 90%;
  height: fit-content;
  z-index: 0;
  margin-bottom: 2vw;
}

#quote-box {
  position: relative;
  text-align: center;
  backdrop-filter: blur(8px);    /* blur whatever is behind */
  -webkit-backdrop-filter: blur(10px);
  padding: 1vw;
  border-radius: 40px;
  z-index: 0;
}

.quote-body {
  font-family: "Bodoni Moda", serif;
  color: #D8DAE1;  
  font-size: 2.5vw;
  position: relative;
  z-index: 1;     
}

.quote-source {
  font-family: "Bodoni Moda", serif;
  color: #D8DAE1;
  font-size: 2.5vw;
  position: relative;
  z-index: 1;
}

  #website-title {
    height: fit-content;
  }

  #website-title h1 {
    padding-top: 2vw;
  }

  #website-title h2 {
    font-size: 5vw; /* Ensure visibility on mobile */
    letter-spacing: 0.2vw; /* Adjust spacing for smaller text */
}
}

@media (min-width: 769px) and (max-width: 1024px) {

  body, html {
    margin: 0; /* Remove global margins */
    padding: 0; /* Remove global padding */
    overflow-x: hidden; /* Prevent horizontal scrollbars */
  }

  #home {
    background-image: url('/assets/Abigail\ Raiford\ -\ 21\ copy\ 2.webp');
    background-size: cover;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
  }

  #website-title h1 {
    padding-top: 2vw;
  }

  #website-title {
    height: fit-content;
    overflow: auto;
  }
}


/* Bio */

.home-btn {
  font-family: "Wittgenstein", serif;
  position: fixed;
  top: 2vw;
  left: 1vw;
  font-size: 1.5vw;
  padding: 10px 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
  font-style: italic;
  z-index: 10;
  transition: ease;
}

.home-btn:hover {
  color:rgba(122, 142, 188, 0.7);
  transition: ease 0.3s;
}

#bio-content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#bio {
  margin: 20px;
}

#bio-img {
  width: 50%;
  margin: 2vw;
}

#bio-img img {
  width: 100%;
  height: auto;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
}

#bio-block {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background-color: rgba(115, 126, 146);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
  width: 50%;
  max-height: 100%;
  padding: 2vw;
  text-align: center;
  margin: auto;
}

#bio-block h1 {
  color:#303042;
  font-family: "Wittgenstein", serif;
  font-style: italic;
  letter-spacing: 3px;
  font-weight: bold;
}

#bio-block p {
  color: #D8DAE1;
  font-family: "Wittgenstein", serif;
  font-size: 1.3vw;
  line-height: 1.75;
}

@media (max-width: 768px) {

  #bio-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #bio-block {
    width: 80%;
  }

  #bio-block p {
    font-size: 3vw;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  #bio-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #bio-block {
    width: 80%;
  }

  #bio-block p {
    font-size: 3vw;
  }
}

/*Main bio page*/

#bio-main-img {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

#meet-abby {
  width: 60%;
  height: 100%;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
}

#bio-block-wrapper {
  display: flex;
  justify-content: center;
}

#view-bio {
  font-family: "Wittgenstein", serif;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: transparent; 
  border: 2px solid #303042; 
  color: #303042;
  cursor: pointer;
  font-size: 1rem;
  letter-spacing: 2px;
  transition: background-color 0.3s, color 0.3s;
}

#view-bio:hover {
  background-color: #D8DAE1;
  color: #303042;
}

#main-bio-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 72%;
  height: fit-content;
  background-color: #737E92;
  padding: 20px;
}


#main-bio-block p {
  font-family: "Wittgenstein", serif;
  font-weight: 400;
  text-align: center;
  color: #D8DAE1;
  font-size: 1.25vw;
  letter-spacing: 1.5px;
  line-height: 1.5;
}

.name-highlight {
  font-weight: 900;
  font-size: 2.5vw;
  color:#303042;
}

.highlight {
  font-weight: bold;
  font-size: 1.5vw;
  color:#303042;
}

.small-highlight {
  font-weight: 900;
  color:#303042;
}

#quote-img-wrapper {
  position: relative;
  display: inline-block;
}

#bio-img-2 {
  position: relative;
}

#circle-img {
  border-radius: 50%;
  height: 20rem;
  width: 20rem;
  object-fit: cover;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
  margin: 20px;
}

#quote-wrapper {
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
  height: fit-content;
  width: 200%;
  background-color: rgba(17, 20, 32, 0.5); 
  padding: 0.5vw;
  z-index: 1; 
}

.quote-text {
  font-family: "Wittgenstein", serif;
}

#rec-img {
  width: 35vw;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
  margin: 20px;
}

#bio-logo {
  width: 150px;
  height: 150px;
}

#resume-button {
  font-family: "Wittgenstein", serif;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: transparent; 
  border: 2px solid #444460; 
  color:#444460;
  cursor: pointer;
  font-size: 1rem;
  letter-spacing: 2px;
  transition: background-color 0.3s, color 0.3s;
}

#resume-button:hover {
  background-color: #D8DAE1;
  color:#444460;
}

@media (max-width: 768px) {

  #main-bio-block {
    width: 85%;
  } 

  #main-bio-block p { 
    font-size: 3vw;
}

#quote-wrapper {
  width: 100%;
}

.name-highlight {
  font-size: 3.75vw;
}

.highlight {
  font-size: 3.5vw;
}

.home-btn {
    font-size: 3vw;
    position: static;
  }

#meet-abby {
  width: 90vw;
}

#rec-img {
  width: 65vw;
}
}




/* Sparkle Border */


.section-divider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0; 
}


.line {
    height: 1px;
    background-color: #6c4a65; 
    flex-grow: 1;
}


.sparkle-image {
    width: 120px; 
    height: auto;
}


/* Up Next */

#up-next {
  height: 100vh;
  width: 100%;
  background-image: url('./assets/upnext.jpg');
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  display: flex;
  align-items: center; 
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust for desired darkness */
}

#up-next-wrapper {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  height: 100%; 
  color:#D8DAE1;
  padding: 5vw;
}

/* Header styling */
#up-next-header {
  font-family: "Wittgenstein", serif;
  display: flex; 
  align-items: center; 
  font-size: clamp(2rem, 2.5vw, 2rem);
  letter-spacing: 10px; 
}

#up-next-header::before,
#up-next-header::after {
    content: ""; 
    width: 15%; 
    height: 2px; 
    background-color: #D8DAE1; 
}

#up-next-header::before {
    margin-right: 10px; 
}

#up-next-header::after {
    margin-left: 10px;
}


#up-next-show h1 {
    font-family: "Wittgenstein", serif;
    font-size: 3rem; 
    font-style: italic; 
    letter-spacing: 5px;
}

#up-next-role h3, #up-next-company h3 {
  font-family: "Wittgenstein", serif;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

#up-next-date h4 {
  font-family: "Wittgenstein", serif;
  font-size: 1.2rem;
}

#view-full-schedule {
    font-family: "Wittgenstein", serif;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: transparent; 
    border: 2px solid #D8DAE1; 
    color: #D8DAE1;
    cursor: pointer;
    font-size: 1rem;
    letter-spacing: 2px;
    transition: background-color 0.3s, color 0.3s;
}

#view-full-schedule:hover {
    background-color: #D8DAE1;
    color: rgb(25, 27, 61);
}

@media (max-width: 768px) {

  #up-next {
    background-image: url('/assets/upnext-resized.png');
    background-size: cover;
    background-position: left;
  }

  #up-next-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.25;
  }

   #up-next-header {
    display: flex;
    justify-content: center;
    width: 100%;
   }

  #up-next-header h1 {
    font-size: 8vw;
  }

  #up-next-header::before,
#up-next-header::after {
    content: ""; 
    width: 15%; 
    height: 1px; 
    background-color: #D8DAE1; 
}

#up-next-header::before {
    margin-right: 10px; 
}

#up-next-header::after {
    margin-left: 10px;
}

#up-next-show h1 {
  font-size: 7vw;
}

#bio-img {
  width: 70vw;
}

}

@media (min-width: 769px) and (max-width: 1024px) {
  #up-next {
    background-image: url('/assets/upnext-resized.png');
    background-size: cover;
    background-position: left;
  }

  #up-next-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

   #up-next-header {
    display: flex;
    justify-content: center;
    width: 100%;
   }

  #up-next-header h1 {
    font-size: 8vw;
  }

  #up-next-header::before,
#up-next-header::after {
    content: ""; 
    width: 15%; 
    height: 1px; 
    background-color: #D8DAE1; 
}

#up-next-header::before {
    margin-right: 10px; 
}

#up-next-header::after {
    margin-left: 10px;
}

#up-next-show h1 {
  font-size: 7vw;
}

#bio-img {
  width: 70vw;
}

}

/* Schedule */

#title-box {
  display: flex;
  justify-content: center;
  width: 50%;
  height: fit-content;
  background-color: #737E92;
  margin-top: 3vw;
  margin-bottom: 3vw;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
}

#schedule-title {
  letter-spacing: 5px;
}

#schedule-title h1 {
  font-family: "Wittgenstein", serif;
  color:#303042;
  font-size: 3vw;
}

#schedule-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#upcoming-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  height: fit-content;
  background-color: #647870;
  margin: 3vw;
  line-height: 0%;
  padding: 2vw;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
}

#upcoming-box a {
  display: flex;
  justify-content: center;
}

#upcoming-box h1 {
  font-family: "Wittgenstein", serif;
  font-size: 2.5vw;
  margin: 3vw;
  letter-spacing: 5px;
  padding: 1vw;
  color:#2d332f;
}

#upcoming-box h2 {
  font-family: "Wittgenstein", serif;
  letter-spacing: 2px;
  color:#D8DAE1;
  font-size: 2.25vw;
}

#upcoming-box h3 {
  font-family: "Wittgenstein", serif;
  letter-spacing: 2px;
  color:#D8DAE1;
  font-size: 1.75vw;
}

#upcoming-box h4 {
  font-family: "Wittgenstein", serif;
  letter-spacing: 2px;
  color:#D8DAE1;
  font-size: 1.5vw;
}

.upcoming-img {
  height: fit-content;
  width: fit-content;
  padding: 2vw;
}

.glacier {
  height: 12vw;
  transition: 0.3s;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
}

.glacier2 {
  height: 17vw;
  transition: 0.3s;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
}

.glacier3 {
  height: 17vw;
  transition: 0.3s;
}

.glacier:hover {
  transform: scale(1.05); 
  transition: ease 0.3s;
}

.glacier2:hover {
  transform: scale(1.05); 
  transition: ease 0.3s;
}

.glacier3:hover {
  transform: scale(1.05); 
  transition: ease 0.3s;
}

#schedule-photo {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center 20%;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
}

#recent-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  height: fit-content;
  background-color: #647870;
  margin: 3vw;
  line-height: 0%;
  padding: 2vw;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
}

#recent-box h1 {
  font-size: 2.5vw;
  font-family: "Wittgenstein", serif;
  margin: 3vw;
  letter-spacing: 5px;
  color:#2d332f;
  padding-top: 1vw;
  padding-bottom: 3vw;
}

#recent-box .divider {
  width: 80%;
  border: none;
  border-top: 1px solid #D8DAE1; 
  margin: 1rem 0; 
}

#upcoming-box .divider {
  width: 80%;
  border: none;
  border-top: 1px solid #D8DAE1; 
  margin: 1rem 0; 
}

#recent-box h2 {
  font-family: "Wittgenstein", serif;
  letter-spacing: 2px;
  color: #D8DAE1;
  font-size: 2.25vw;
}

#recent-box h3 {
  font-family: "Wittgenstein", serif;
  letter-spacing: 2px;
  color: #D8DAE1;
  font-size: 1.75vw;
}

#recent-box h4 {
  font-family: "Wittgenstein", serif;
  letter-spacing: 2px;
  color: #D8DAE1;
  font-size: 1.5vw;
}

@media (max-width: 768px) {

  #schedule-title h1 {
    font-size: 5vw;
  }

  #upcoming-box {
    width: 85%;
  }

  #upcoming-box h1 {
    font-size: 3.5vw;
  }

  #upcoming-box h2 {
    font-size: 3vw;
  }

   #upcoming-box h3 {
    font-size: 2vw;
   }

   #upcoming-box h4 {
    font-size: 1.75vw;
   }

   #recent-box {
    width: 85%;
   }

   #recent-box h1 {
    font-size: 3.5vw;
  }

  #recent-box h2 {
    font-size: 3vw;
  }

   #recent-box h3 {
    font-size: 2vw;
   }

   #recent-box h4 {
    font-size: 1.75vw;
   }
}

/* Gallery */

#gallery {
  width: auto;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#gallery-header {
  font-family: "Wittgenstein", serif;
  color:#2d332f;
  letter-spacing: 5px;
  padding-top: 1vw;
}

#gallery-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 60%;
  background-color: rgba(100, 120, 112, 0.8);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
}

/* General Carousel Styling */

.carousel-container {
    position: relative;
    width: 100%;
    max-width: 1000px; 
    overflow: hidden;
    padding-bottom: 2vw;
}

.carousel {
    display: flex;
    transition: transform 1s ease-in-out;
}

.carousel-inner {
    display: flex;
    width: 100%;
}

.carousel-item {
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item img {
    max-width: 100%;
    max-height: 80vh;
    object-fit: contain;
}

/* Navigation Arrows */
.carousel-arrow {
    position: absolute;
    top: 50%;
    background-color: transparent;
    color: #D8DAE1;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    z-index: 1;
}

.prev-arrow {
    left: 30px;
}

.next-arrow {
    right: 30px;
}

.carousel-arrow:hover {
  transform: scale(1.5); 
}

@media (max-width: 768px) {

  #gallery-container {
    width: 100%;
  }

  .carousel-item img {
    max-width: 100%;
    object-fit: cover; /* Ensure image fills its container */
    }
}


/* Media Home */

#media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  height: 100vh; 
}

#media-container {
  width: 100%;
  height: 75%;
  position: relative;
  overflow: hidden;
  z-index: 5;
  letter-spacing: 5px;
  font-style: italic;
}

.media-header {
  display: flex; 
  align-items: center; 
  justify-content: center;
  margin-bottom: 20px; 
}

.media-header h1 {
  font-family: "Wittgenstein", serif;
  letter-spacing: 10px;
  color: #D8DAE1;
}

.media-header::before,
.media-header::after {
    content: ""; 
    width: 15%; 
    height: 2px; 
    background-color: #D8DAE1; 
    flex-shrink: 0; 
}

.media-header::before {
    margin-right: 10px; 
}

.media-header::after {
    margin-left: 10px; 
}


.video-background-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 10;
}

#view-media {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: transparent; 
    border: 2px solid #D8DAE1; 
    color: #D8DAE1;
    cursor: pointer;
    font-family: "Wittgenstein", serif;
    font-size: 1rem;
    letter-spacing: 5px;
    transition: background-color 0.3s, color 0.3s;
}

#view-media:hover {
  background-color: #D8DAE1;
  color: #343E61;
}

.video-background-container video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%); /* Center the video */
  min-width: 100%; /* Ensure the video covers the full width */
  min-height: 100%; /* Ensure the video covers the full height */
  width: auto; /* Maintain aspect ratio */
  height: auto; /* Maintain aspect ratio */
  z-index: -1; /* Place the video behind other content */
  object-fit: cover; /* Ensure the video covers the container */
}

@media (min-width: 769px) and (max-width: 1024px) {

  .video-background-container video {
    transform: translate(-50%, -50%);
  }

  .video-background-container {
    max-height: 90%;
  }
}


#overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #D8DAE1;
  z-index: 1;
}


.overlay-content h1 {
  font-size: 3rem;
  margin: 0;
}

.overlay-content p {
  font-size: 1.5rem;
  margin-top: 10px;
}

 

/*Media page */


#media-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}


#top-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 3vw; 
  padding: 3vw;
  margin-top: 5vw;
}

#audio-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  height: auto;
  background-color: rgba(53,45,68, 0.5);
  padding-top: 1vw;
  padding-bottom: 1vw;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
}

#media-page-header {
  position: relative;
  text-align: center;
  color: #D8DAE1; 
}

#media-page-header h1 {
  display: inline-block; 
  position: relative; 
  letter-spacing: 5px;
  font-style: italic;
  font-family: "Wittgenstein", serif;
}

#media-page-header h1::before,
#media-page-header h1::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 40%;
  height: 2px; 
  background-color: #D8DAE1; 
}

#media-page-header h1::before {
  left: -20%; 
  transform: translateX(-100%);
}

#media-page-header h1::after {
  right: -20%;
  transform: translateX(100%);
}

#media-photo {
  width: 30%;
  height: 70%;
}

#abby-media {
  width: 100%;
  height: auto;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
}

.text-wrapper {
  text-align: center;
  color: #D8DAE1;
  font-family: "Wittgenstein", serif;
  font-size: 1.1vw;
}

.audio-file {
  padding: 0.5vw;
}

#video-wrapper {
  display: flex;
  flex-direction: column;
}

#video-wrapper iframe {
  margin: 2vw;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
}

@media (max-width: 768px) {

  #top-wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  #audio-box {
    width: 90%;
    padding-bottom: 4vw;
  }

  #video-wrapper iframe {
    width: 400px;
  }

  #media-photo {
    width: 50%
  }

  .text-wrapper {
    font-size: 2vw;
  }
}

/* Contact */

#contact {
  width: auto;
  height: fit-content;
}

#contact-header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #737E92;
  width: 40vw; 
  height: 4vw;
  padding: 2vw;
  margin: 0 auto; 
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
}

#contact-header h1 {
  color: #2b2b35;
  font-family: "Wittgenstein", serif;
  letter-spacing: 5px;
}

/* #contact-img-wrapper {
  display: grid;
  place-items: center;
  height: 100vh;
}


#contact-img {
  position: relative;
  margin-top: 20px;
}

#circle-img-contact {
  border-radius: 50%;
  height: 20rem;
  width: 20rem;
  object-fit: cover;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
  margin: 20px;
} */

#contact-info-wrapper {
  margin-top: 4vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#agent-info {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
  height: 595px;
  background-color: rgba(100, 120, 112, 0.8);
  color: #D8DAE1;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
}

#agent-info a {
  color: inherit;
  text-decoration: none;
}

#agent-info h2 {
  font-family: "Wittgenstein", serif;
  letter-spacing: 3px;
  color:#2d332f;
}

#agent-info h3 {
  font-family: "Wittgenstein", serif;
  letter-spacing: 3px;
}

#agent-info h4 {
  font-family: "Wittgenstein", serif;
  letter-spacing: 3px;
}

#iam {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  transition: 0.3s;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
}

#iam:hover {
  transform: scale(1.05); 
  transition: ease 0.3s;
}

#contact-form-wrapper {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
  height: fit-content;
  background-color: rgba(100, 120, 112, 0.8);
  color: #D8DAE1;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
}

#contact-form-wrapper h2 {
  font-family: "Wittgenstein", serif;
  letter-spacing: 3px;
  color:#2d332f;
}

.contact-form {
    background-color: #D8DAE1;
    padding: 20px;
    border-radius: 8px;
    max-width: 80%;
    margin-bottom: 2vw;
}

.contact-form label {
    font-size: 16px;
    font-weight: bold;
    color: #343E61;
    font-family: "Wittgenstein", serif;
}

.contact-form input, 
.contact-form textarea {
    width: 90%;
    background-color: #D8DAE1;
    padding: 5px;
    margin: 10px 0;
    border: 2px solid #343E61;
    font-size: 14px;
    font-family: "Wittgenstein", serif;
}

.contact-form button {
  font-family: "Wittgenstein", serif;
  width: 100%;
  padding: 10px;
  background-color: transparent; 
  border: 2px solid #343E61;
  color: #343E61;
  cursor: pointer;
  font-size: 1rem;
  letter-spacing: 2px;
  transition: background-color 0.3s, color 0.3s;
}


.contact-form button:hover {
  background-color: #343E61;
  color: #D8DAE1;
}

.center-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5vw;
}

#social-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #737E92;
  width: 40%;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
}

#social-wrapper h2 {
  font-family: "Wittgenstein", serif;
  font-weight: 400;
  color:#303042;
  letter-spacing: 2px;
  font-size: 30px;
  text-align: center;
  margin: 0 auto;
  padding: 20px 0; /* Adjust as needed */
}

#social-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#social-icons {
  display: flex;
  gap: 15px;
  padding-bottom: 20px;
}

#facebook {
  color: #DED9CE;
  transition: 0.5s;
}

#facebook:hover {
  transform: scale(1.5); 
  transition: ease 0.5s;
}

#instagram {
  color: #DED9CE;
  transition: 0.5s;
}

#instagram:hover {
  transform: scale(1.5);  
  transition: ease 0.5s;
}

#youtube {
  color: #DED9CE;
  transition: 0.5s;
}

#youtube:hover {
  transform: scale(1.5); 
  transition: ease 0.5s; 
}

/*Footer*/

#footer {
  display: flex;
  justify-content: center;
  padding: 5vw;
}

#footer-text {
  display: flex;
  justify-content: center;
  text-align: center;
  bottom: 0;
}


#footer-text p {
  font-family: "Wittgenstein", serif;
  color:#696990;
  font-size: 12px;
}

@media (max-width: 768px) {

  #contact-header-wrapper {
    width: 65%;
    margin-bottom: 10vw;
  }

  #contact-header h1 {
    font-size: 4vw
  }
  
  #contact-info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #agent-info {
    width: 90%;
    margin-bottom: 10vw;
    padding-bottom: 2vw;
  }

  #contact-form-wrapper {
    width: 90%;
    margin-bottom: 10vw;
  }

  #social-wrapper {
    width: 85%;
  }

  #footer-text p {
    font-size: 1.5vw;
  }
}
