body {
  background-color: #A4B0B8;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

/* Navbar */

#sideNav{
  position: fixed; 
  z-index: 1000; 
  background-color: #647870;
}

.menu-button {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 20px;
  padding: 10px 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
}


.sidenav {
  display: flex;
  flex-direction: column;
  align-items: center; 
  height: 100%; 
  width: 0; /* Initially set to 0 to be hidden */
  position: fixed; /* Stay in place */
  top: 0;
  left: 0;
  background-color: #111; /* Black background color */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* Smooth sliding transition */
  padding-top: 60px; /* Padding on top */
}

.sidenav h1 {
  color: white;
}

/* Links inside the side navigation */
.sidenav a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 22px;
  color: white;
  display: block;
  transition: 0.3s;
}

/* When you hover over the links */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Close button at the top of the menu */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 36px;
  margin-left: 50px;
}

#nav-logo {
  height: 100px;
  width: 200px;
  margin-top: 20px;
}

.menu-title {
  position: relative;
  text-align: center;
  font-size: 36px;
  font-family: 'Times New Roman', serif; /* Example font */
  color: white;
  margin-bottom: 30px;
}

.menu-title::before,
.menu-title::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 40px; /* Length of the lines */
  height: 1px; /* Thickness of the lines */
  background-color: white;
}

.menu-title::before {
  left: -50px; /* Position the left line */
}

.menu-title::after {
  right: -50px; /* Position the right line */
}


/* Media query for smaller screens */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Home */

#home {
  width: 100%;
  height: 1000px;
  background-image: url('./assets/Abby-home.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

#website-title {
  position: absolute; 
  bottom: 0; 
  width: 100%;
  text-align: center;
  background-color: rgba(69, 89, 135, 0.7); 
}

#website-title h1 {
  color: #D8DAE1;
  text-align: center;
  text-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke-width: 3;
  -webkit-text-stroke-color: #161c32;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 15px;
}

#website-title h2 {
  font-size: 24px;
  color: white;
  letter-spacing: 3px;
}

/* Bio */

#home-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 20px;
  padding: 10px 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
  font-style: italic;
}

#bio-content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#bio {
  margin: 20px;
}

#bio-img {
  padding: 25px; 
}


#bio-img img {
  width: 380px;
  height: 500px;
  border-radius: 5%;
  box-shadow: 8px 8px 4px 0px rgba(0, 0, 0, 0.25);
}

#bio-block {
  background-color: rgba(115, 126, 146, 0.5);
  box-shadow: 8px 8px 4px 0px rgba(0, 0, 0, 0.25);
  width: fit-content;
  height: fit-content;
  text-align: center;
}

#bio-main-img {
  display: flex;
  justify-content: center;
  margin: 25px;
}

#meet-abby {
  width: 65%;
  height: 575px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
}

#bio-block-wrapper {
  display: flex;
  justify-content: center;
}

#main-bio-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 72%;
  height: fit-content;
  background-color: #737E92;
  padding: 20px;
}

#main-bio-block p {
  text-align: center;
  color: #D8DAE1;
  font-size: 1.25vw;
  letter-spacing: 1.5px;
  line-height: 1.25;
}

.highlight {
  font-weight: bold;
  font-size: 2vw;
}

#circle-img {
  border-radius: 50%;
  height: 350px;
  width: 350px;
  object-fit: cover;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
  margin: 20px;
}

#rec-img {
  width: 450px;
  height: 600px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
  margin: 20px;
}

#bio-logo {
  width: 150px;
  height: 150px;
}

#resume-button {
  margin: 20px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}


/* Sparkle Border */


.section-divider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0; 
}


.line {
    height: 1px;
    background-color: #6c4a65; 
    flex-grow: 1;
}


.sparkle-image {
    width: 120px; 
    height: auto;
}


/* Up Next */

#up-next {
  height: 1000px;
  width: 100%;
  background-image: url('./assets/upnext.jpg');
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#up-next-event {
  color:#D8DAE1;
}

/* Gallery */

#gallery {
  width: auto;
  height: 1000px;
}

#gallery-container {
  display: flex;
  justify-content: center;
  width: 75%;
  height: 75%;
  background-color: rgba(115, 126, 146, 0.5);
}

/* General Carousel Styling */
.carousel-container {
    position: relative;
    width: 100%;
    max-width: 1000px; 
    margin: 0 auto;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-inner {
    display: flex;
    width: 100%;
}

.carousel-item {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item img {
    max-width: 100%;
    max-height: 80vh;
    object-fit: contain;
}

/* Navigation Arrows */
.carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    z-index: 1;
}

.prev-arrow {
    left: 10px;
}

.next-arrow {
    right: 10px;
}

.carousel-arrow:hover {
    background-color: rgba(0, 0, 0, 0.7);
}


/* Media */

#media {
  width: auto;
  height: 1000px;
}

#media-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 50%;
  background-color: rgba(115, 126, 146, 0.5);
  position: relative;
  overflow: hidden;
}


.video-background-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}


.video-background-container video {
  width: 100%;
  height: 100%;
  object-fit: contain; 
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}


.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1;
}

/* Optional styling for text */
.overlay-content h1 {
    font-size: 3rem;
    margin: 0;
}

.overlay-content p {
    font-size: 1.5rem;
    margin-top: 10px;
}


/* Contact */

#contact {
  width: auto;
  height: 1000px;
}

#contact-info-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#agent-info {
  width: 300px;
  height: 300px;
  background-color: rgba(115, 126, 146, 0.5);
}

#contact-form {
  width: 300px;
  height: 300px;
  background-color: rgba(115, 126, 146, 0.5);
}
